.resultContainer {
  margin-top: 20px;
  display: flex;
  gap: 200px
}

.detailBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 80px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 5px;
}

.detailBox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.nameRow {
  display: flex;
}

.header {
  background-color: #43BAFA;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
}

.context {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hiLightedText {
  background-color: #43BAFA;
}

.textOverlay {
  font-size: 20px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input[placeholder='Search'] {
  padding: 5px;
}

.inputBlock {
  display: flex;
  align-items: center;
  gap: 10px
}

.nameItem:hover {
  background-color: #d8d8d8;
}

.nameItem:active {
  background-color: palegoldenrod;
}

.checkboxBlock {
  display: flex;
  align-items: center;

}